<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Books</title>
        <% if(typeof css !== 'undefined' && css.length > 0){ %> <%css.map((file) => {%>
        <link rel="stylesheet" href="/<%=file%>.css" />
        <%})%> <%}%>
    </head>
    <body>
        <% if (typeof components !== 'undefined' && components.length > 0){ %> <% components.forEach((file) => {%> <%- include(file) %> <%})%> <%}%> <% if (typeof scripts !==
        'undefined' && scripts.length > 0){ %> <% scripts.forEach((file) => {%>
        <script src="/<%=file%>.js"></script>
        <%})%> <%}%>
        <script src="/books/navbar.js"></script>
    </body>
</html>
