<header>
    <div id="header-books">Livres</div>
    <div id="header-add-book">Ajouter un livre</div>
    <div id="header-dashboard">Dashboard</div>
    <div id="header-auth">Connexion</div>
</header>
